* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: dotted;
    color: #999;
    font-weight: 900;

    &:hover {
        color: #fff;
    }
}

ul {
    list-style: none;
}

.btn {
    border: 1px solid #333;
    padding: 2px 15px;
    color: #333;

    &:hover {
        background-color: #333;
        color: #fff;
    }
}

.header {
    width: 100%;
    height: 10rem;
    background-color: #333;
    color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        display: flex;
        gap: 2rem;
    }
}

